@import url("./fonts.css");

/* ------ common ------ */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border-width: 0px;
}

body{
    color: #FFFFFF;
    position: relative;
    background: #FFFFFF;
}

.wrapper {
    position: relative;
    width: 100%;
    height:100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h2 {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
color: #F2785C;
white-space: nowrap;
}

button{
    cursor: pointer;
}

button:hover{
    color: #F2785C;
    transition: 700ms;
}

button:active{
    box-shadow: 0px 0px 6px rgba(0,0,0,1) inset;
    transition: 700ms;
}

/* ------- header -------------- */

.header{
    position: absolute;
    margin: 0 auto;
    width: 1440px;
    top:0;
    left: 0;
    height: 90px;
    z-index: 20;
    max-width: 100%;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header-img{
    max-width: 30px;
    max-height: 30px;
    margin-right: 6px;
}

.header-logo{
    display: flex;
}

.header-logo-text {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    white-space: nowrap;
}

.header-nav{
    max-width: 527px;
    width: 100%;
    margin-right: 30px;
}

.header-nav-list{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: medium;
    justify-content: space-between;
    gap: 4%;
}

.nav-list-link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.nav-list-link:hover{
    color: #0D606F;
    transition: 700ms;
    text-decoration: underline;
}

.header-button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    transition: 700ms;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 0 10px;
}

.burger{
    display: none;
}

.burger-active{
    display: none!important;
}
.burger-button-open{
    width: 35px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger-button-open:active{
    transform: rotate(180deg);
    transition: 0.5s;
}

.burger-button-open-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    margin: 8px 4.38px;
}

.burger-button-open-line{
    Width:26.25px;
    Height:2.67px;
    background: #FFFFFF;
    border-radius: 2px;
}

.burger-menu{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 30;
    transform: translate(390px);
    transition: all 300ms;
}
.burger-menu-back{
    background: rgba(0, 0, 0, 0.3);
}

.burger-menu-wrapper{
    position: absolute;
    top:0;
    right: 0;
    width: 165px;
    height: 250px;
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    display: none;
}

.burger-menu-close{
    width: 30px;
    height: 30px;
    background: #F2785C;
    margin: 8px 0px 0px 8px;
}
.burger-menu-close img{
    width: 15px;
    height: 15px;
    margin: 0 auto;
}
.burger-menu-list{
    position: inherit;
    top: 44px;
    right: 15px;
    width: 106px;
    height: 176px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.burger-menu-list-item{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 100%;
    display: block;
    text-align: right;
    cursor: pointer;
}

/* ------- preview ----------- */

.preview {
    display: flex;
    flex-direction: column;
    height: 765px;
    width: 100%;
    background: url('../assets/img-preview.jpg') no-repeat;
    background-size:cover;
    background-position: center;

}

.preview-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 122px;
    width: 100%;
    height: 100%;
}

.preview-content{
    max-width: 892px;
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    white-space: normal;
    max-height: 168px;
    
}

.preview-text {
    max-width: 723px;
    height: 24px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    word-wrap: normal;
    margin-top: 9px;
}

.search {
    display: flex;
    max-width: 892px;
    width: 100%;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}

.search-input  {
    max-width: 560px;
    height: auto;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    margin-left: 41px;
    background-color: transparent;
}

.search-input::placeholder {
    color: #F2785C;
    background-color: transparent;
    background-size: auto;
}

.search-button {
    width: 228px;
    padding: 13.5px 32.5px;
    gap: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 18px 18px 18px 0px;
    white-space: nowrap;
}

/* ------- steps --------- */

.steps {
    height: 247px;
    background: #FFFFFF;
    margin: 80px auto 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 996px;
    width: 100%;
    margin: 80px 0 97px 0;
}

.steps-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 996px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    max-height: 178px;
}
.card img{
    cursor: pointer;
}

.steps-mobile-text{
    display: none;
}

.steps-card-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    white-space: nowrap;
}

/* ------- dectinations --------------- */

.destinations{
    display: flex;
    flex-direction: column;
    width: 2520px;
    max-height: 1042px;
    display: flex;
    align-items: center;
}

.destinations h2{
    margin-bottom: 46px;
}

.destinations-images{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    gap: 60px;
    align-items: center;
    transition: 1s;
    max-height: 800px;
}

.destinations-item {
    object-fit: cover;
    width: 100%;
    height: fit-content;
    display: block;
    position: relative;
}

.destinations-item img{
    width: 100%;
    height: 100%;
}

.destinations-item span{
    position: absolute;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    bottom: 5.5%;
    left: 2%;
}

.destinations-toggles{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 24px;
}

.toggle-circle{
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}

.bright{
    background: #F2785C;
    transition: 1s;
}

.destinations-button{
    width: 228px;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.destinations-button img{
    display: block;
    width:40px; 
    height:40px;
}

.destinations-mobile-arrow-left{
    background: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 45%;
    left:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
}

.destinations-mobile-arrow-rigth{
    background: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 45%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
}

.arrow-brigth{
    opacity: 0.5;
}

/*  ------- stories ------- */

.stories{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1442px;
    width: 100%;
}

.stories-wrapper{
    margin-top: 40px;
    width: 100%;
    max-height: 1331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../assets/stories-fon.jpg') no-repeat;
}

.stories-content{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stories-cards{
    max-width: 1201px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 0px;
}

.stories-content button{
    margin-bottom: 41px;
}

.stories-cards-item{
    max-height: 250px;
    display: flex;
    gap: 40px;
}

.stories-cards-item img{
    width: 400px;
    height: 250px;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.item-info p{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: 24px;
    -webkit-line-clamp: 6; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
}

.item-info a{
    font-family: 'Aleo';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    text-decoration: underline;
    font-weight: 900;
}

h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    white-space: nowrap;
}

/* ------- footer ------- */

footer{
    height: 33.65px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 13.5px 0;
    justify-content: flex-end;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 728.96px;
    margin-right: 121px;
}

.footer-links ul{
    display: flex;
    gap: 20px;
}

.footer-links li{
    width: 33.65px;
    height: 33.65px;
}

footer p {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

/*-------------------------------- POP-UP---------------------------------*/

.popup-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    transform: translateY(-150%);
    transition: transform 0.5s;
    z-index: 50;
}
.popup-menu-active {
    transform: translateY(0);
    transition: transform 0.5s;
    animation-name: some;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 1s;
}
@keyframes some {
    100%{
        background: rgba(0, 0, 0, 0.3);
    }
}

.popup-menu-wrapper{
    margin: 0 auto;
    max-width: 630px;
    max-height: 660px;
    width: 100%;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;  
    order: 100;  
    padding: 0 10px;
}
.popup-container{
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-top-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-top-text{
    margin: 25px 0 30px 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0D606F;
}

.popup-button{
    width: 100%;
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    flex: none;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.popup-top-button-facebook{
    margin-bottom: 20px;
    background: #1877F2;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: #FFFFFF;
}
.popup-top-button-google{
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color:#0D606F;;
}
/*--------bottom-------*/
.popup-line-wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.popup-line{
    width: 100%;
    height: 0px;
    border: 1px solid rgba(13, 96, 111, 0.5);

}
.popup-between-line-text{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
}

.popup-bottom-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-bottom-input{
    margin-bottom: 20px;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    text-align: center;
}

.input-label{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D606F;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.popup-top-button-signin{
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: #FFFFFF;
}

.popup-bottom-text-forgot{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #0D606F;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    margin-top: 10px;
    cursor: pointer;
}

.popup-solid-line{
    width: 100%;
    height: 0px;
    border: 1px solid rgba(13, 96, 111, 0.5);
    transform: rotate(0.1deg);
    margin-top:26px;
    margin-bottom: 20px;
}

.popup-bottom-toggle{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.popup-bottom-text-link{
    color: rgba(13, 96, 111, 0.5);
    margin-right: 3px;
}
.popup-bottom-link-register{
    color: #0D606F;
    cursor: pointer;
    text-decoration: underline;
}

/*------------------------width: 1240px--------------------------*/

@media (max-width: 1240px) {
    .preview{
        height: 700px;
    }
    .steps{
        max-width: 776px;
    }
    h2{
        font-size: 2rem;
    }
    .preview-content{
        margin: 0 10px;
    }
    .header-logo{
        margin: 0 10px;
    }
    .header-button{
        margin: 0 10px;
    }
    .stories-cards{
        max-width: 952px;
    }
    .destinations{
        width: 2200px;
    }
    .header-nav{
        margin-right: 0;
    }
}

/*------------------------width: 952px--------------------------*/

@media (min-width: 391px) and  (max-width: 952px) {
    .preview{
        height: 650px;
    }
    .steps{
        margin: 50px 0px;
    }
    .stories{
        margin-top: 40px;
    }
    .destinations h2{
        margin-bottom: 10px;
    }
    .steps-card-text{
        font-size: 18px;
        line-height: 22px;
    }
    .stories-wrapper{
        margin-top: 20px;
    }
    .steps-card-text {
        white-space: normal;
    }
    .destinations{
        width: 1800px;
    }
    .preview-main-text{
        font-size: 8vw;
        line-height: 9vw;
    }
    .preview p{
        font-size: 16px;
        white-space: wrap;
    }
    .footer-content{
        margin: 0 20px auto;
    }
    .item-info p{
        font-size: 1rem;
        margin-top: 7px;
    }
    h3{
        font-size: 1.5rem;
    }
    .item-info a{
        font-size: 1rem;
    }
    .stories-cards{
        max-width: 776px;
    }
}

/*------------------------width: 776px--------------------------*/

@media(min-width: 391px) and  (max-width: 776px){
    .preview{
        height: 500px;
    }
    .preview-content{
        height: 350px;
    }
    .destinations{
        width: 1400px;
    }
    .steps{
        max-width: 600px;
    }
    h2{
        font-size: 1.5rem;
    }
    .card img{
        width: 80px;
        height: 80px;
    }
    .destinations-images{
        gap: 30px;
    }
    .header-nav-list{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-logo h4{
        font-size: 20px;
    }
    .preview-content .search{
        margin: 13px 13px 13px 0px;
    }
    .steps-card-text {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        white-space: normal;
    }
    .footer-content{
        margin: 0 10px auto;
    }
    h3{
        white-space: normal;
        line-height: 28px;
    }
    .item-info p{
        margin-top: 5px;
    }
    .preview-text{
        white-space: normal;
    }
    .stories-cards-item img{
        width: 280px;
    }
    .stories-cards{
        max-width: 566px;
    }
    .search button{
        font-size: 16px;
        padding: 8px 22px;
        width: auto;
        height: auto;
        padding: 13.5px 5.5px;
    }
    .popup-top-text{
        font-size: 24px;
    }
    .destinations-item span{
        font-size: 22px;
        line-height: 32px;
    }
    .popup-menu-wrapper{
        max-width: 500px;
    }
    .popup-container{
        max-width: 450px;
    }
    .popup-top-text{
        font-size: 18px;
    }
    .popup-top-text{
        margin: 15px 0;
    }
    .popup-bottom-input{
        height: 40px;
    }
    .popup-container button{
        margin-bottom: 10px;
        padding: 10px;
    }
}

/*------------------------width: 566px--------------------------*/

@media (min-width: 391px) and (max-width: 566px) {
    .destinations{
        width: 900px;
    }
    .destinations-images{
        gap: 20px;
    }
    .steps{
        max-width: 390px;
    }
    .search{
        height: 80px;
    }
    .search input{
        font-size: 18px;
        margin-left: 20px;
    }
    .nav-list-link{
        font-size: 14px;
    }
    .stories-cards-item img{
        height: 200px;
        width: 200px;
    }
    .stories-cards{
        max-width: 500px;
    }
    .search-button{
        white-space: normal;
        line-height: 20px;
    }
}

/*------------------------width: 390px--------------------------*/

@media screen and (max-width: 390px) {
    h2{
        font-size: 14px;
        line-height: 19px;
    }
    .wrapper{
        max-width: 390px;
        height: 1475px;
    }
    .header{
        margin: 0 auto;
        height: 32px;
        top: 43px;
        background: none;
        box-shadow: none;
    }
    .header-container{
        margin: 0 auto;
        margin-left: 16px;
        margin-right: 20px;
    }
    .header-img, .header-logo{
        margin: 0;
    }
    .header-logo-text{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .header-button{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger-menu{
        display: block;
    }
    .burger-menu-wrapper{
        display: block;
    }

    /*----------------------preview------------------------*/
    

    .preview{
        position: relative;
        height: 251px;
        margin: 0 auto;
        background: url('../assets/mobile/preview.jpg');
    }
    .preview::before{
        content: "";
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .preview-wrapper{
        margin-top: 0px;
        margin: 0 auto;
        max-width: 360px;
    }

    .preview-content{
        max-width: 360px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: none;
    }

    .preview-main-text{
        display: none;
    }
    .preview-text{
        display: none;
    }
    .search{
        max-width: 360px;
        height: 48px;
        margin-top: 142px;
    }
    .search-button{
        width: auto;
        font-size: 11px;
        line-height: 15px;
        margin: 9px;
        padding: 7.5px 9px;
    }
    .search-input{
        max-width: 226.01px;
        font-size: 14px;
        line-height: 17px;
        margin-left: 16.55px;
    }

    /*----------------------- steps ----------------------------------*/

.steps {
    max-width: 390px;
    width: 100%;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 15px auto;
}

.steps-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    margin-top: 20px;
    
}
.card{
    width: 70px;
}

.card img{
    width: 70px;
    height: 70px;
    margin-bottom: 19px;
    border-radius: 16px;
}

.steps-card-text {
    display: none;
}

.steps-mobile-text{
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #0D606F;
}
.steps-mobile-text p:last-child{
    text-align: right;
}

    /* ---------------- dectinations --------------- */

.destinations{
    display: flex;
    flex-direction: column;
    height: 289px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.destinations h2{
    margin-bottom: 20px;
}

.destinations-images{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    gap: 10px;
    align-items: center;
    height: 210px;
    margin-bottom: 10px;
    justify-content: center;
    width: 2000px;
}

.destinations-item {
    object-fit: none;
    margin: 0 10px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destinations-item img{
    width: 360px;
    height: 210px;
    background-size: cover;
    border-radius: 16px;
}

.destinations-item span{
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    top: 4%;
    left: 24%;
}

.destinations-toggles{
    gap: 6px;
    margin-bottom: 0;
    margin-top: 0;
}

.toggle-circle{
    width: 10px;
    height: 10px;
}

.destinations-mobile-arrow-left{
    display: block;
}

.destinations-mobile-arrow-rigth{
    display: block;
}

.destinations-toggles{
    position: absolute;
    display:flex;
    flex-direction: row;
    gap: 10px;
    top: 229px;
    margin: 0;
}

.destinations-toggles{
    gap: 6px;
}

.toggle-circle{
    width: 8px;
    height: 8px;
}

.destinations-button{
    width: 92px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.5px 12px;
    gap: 6px;
    font-size: 11px;
    line-height: 15px;
    
}

.destinations-button img{
    display: block;
    width: 10px;
    height: 10px;
}
    /*------------------------- STORIES --------------------------------*/

    .stories{
        margin-top: 20px;
        width: 100%;
        height: 100%;
        margin: 20 15px;
    }
    
    .stories-wrapper{
        margin-top: 10px;
        max-width: 390px;
        height: 100%;
        width: 100%;
        background: url('../assets/mobile/stories.jpg') no-repeat;
    }

    .stories-content{
        height: 628px;
    }
    
    .stories-cards{
        width: 100%;
        max-width: 360px;
        gap: 15px;
        margin: 10px 0px;
    }
    
    .stories-content button{
        margin-bottom: 10px;
    }
    
    .stories-cards-item{
        display: flex;
        max-height: 130px;
        gap: 10px;
        justify-content: flex-start;
    }
    
    .stories-cards-item img{
        max-width: 155px;
        max-height: 130px;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 4px #0D606F);
    }

    .item-info{
        height: 130px;
        margin: 5px 0;
    }

    .item-info p{
        width: 100%;
        font-size: 9px;
        line-height: 11px;
        margin-top: 10px;
        -webkit-line-clamp: 8;
    }
    
    .item-info a{
        display: block;
        color: #0D606F;
        text-decoration: underline;
        font-weight: 900;
        font-size: 9px;
        line-height: 11px;
    }
    
    h3 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
    }

/*-------------- Footer --------------------------------*/


    footer{
        height: 65px;
        margin: 0 auto;
        justify-content: center;
    }
    .footer-content{
        justify-content: center;
        margin: 0 auto;
    }
    footer p{
        display: none;
    }

    /*------------------POP UP------------------*/

    .popup-top-text{
        font-size: 18px;
    }
    .popup-top-text{
        margin: 15px 0;
    }
    .popup-bottom-input{
        height: 40px;
    }
    .popup-container button{
        margin-bottom: 10px;
        padding: 10px;
    }
}